# IDE configs
.vs/
.vscode/
.idea/
*.user
*.DS_Store

# Build artifacts
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
build.ninja
rules.ninja
Testing/
bin/
*.o
*.a
*.log
*.txt

# Build libs
ArkaPong/lib/
Frontend/lib/

# CLion logs
clion-*.txt
CMakeConfigureLog.yaml
